<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="#">NASA</a>
</nav>
<div class="container-fluid main-wrapper">
  <div class="about">
    <h1 class="text-center">About</h1>
    <p class="text-center">
      Mars Rover Gallery is a web application built using Angular technology.
      This application will present users with all of NASA’s Mars Rovers Images
      taken so far in a very efficient and convenient fashion. In order to
      develop this, incorporate NASA’s free to use Mars Rover API(NASA APIs).
      This API is designed to collect image data gathered by NASA's Curiosity,
      Opportunity, and Spirit rovers on Mars and make it more easily available
      to other developers, educators, and citizen scientists
    </p>
  </div>
  <div class="rover-list-container"></div>
</div>
