<div class="sidebar-container">
  <div class="row">
    <div class="col-12">
      <div class="rover-list">
        <a routerLink="/rover-details/curiosity" class="single-rover">
          <p
            [ngStyle]="{ color: rover === 'curiosity' ? 'dodgerblue' : '#fff' }"
          >
            Curiosity
          </p>
        </a>
        <a routerLink="/rover-details/opportunity" class="single-rover">
          <p
            [ngStyle]="{
              color: rover === 'opportunity' ? 'dodgerblue' : '#fff'
            }"
          >
            Opportunity
          </p>
        </a>
        <a routerLink="/rover-details/spirit" class="single-rover">
          <p [ngStyle]="{ color: rover === 'spirit' ? 'dodgerblue' : '#fff' }">
            Spirit
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
