.sidebar-container {
  background-color: rgb(33, 37, 41);
  width: 300px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 65px;
}
.rover-list {
  height: 90vh;
  overflow-y: auto;
}
.single-rover {
  color: #fff;
  cursor: pointer;
  display: flex;
  height: 50px;
  padding: 5px 15px;
  align-items: center;
  position: relative;
}
.single-rover p {
  margin-top: 10px;
}
.single-rover:hover {
  color: dodgerblue;
  background-color: rgba(0, 0, 0, 0.9);
}
.single-rover:hover p {
  padding-left: 20px;
  transition: all 0.3s;
}
.sub-menu {
  display: none;
}
.sub-menu li {
  list-style: none;
  font-size: 14px;
  padding: 5px;
  color: #fff !important;
}
.sub-menu li:hover {
  color: dodgerblue !important;
}

a {
  text-decoration: none;
}

@media (max-width: 800px) {
  .sidebar-container {
    display: none;
  }
}
