<div class="card">
  <div
    class="active"
    [ngStyle]="{ 'background-color': cardItem.rover.status ? 'lime' : 'red' }"
  ></div>
  <div class="card-body">
    <img [src]="cardItem.img_src" alt="img-space" class="space-img" />
    <div class="content">
      <table class="mytable">
        <tbody>
          <tr>
            <td>Rover Name</td>
            <td>{{ cardItem.rover.name }}</td>
          </tr>
          <tr>
            <td>Camera</td>
            <td>{{ cardItem.camera.name }}</td>
          </tr>
          <tr>
            <td>Sol</td>
            <td>{{ cardItem.sol }}</td>
          </tr>
          <tr>
            <td>Launch Date</td>
            <td>{{ cardItem.rover.launch_date }}</td>
          </tr>
          <tr>
            <td>Landing date</td>
            <td>{{ cardItem.rover.landing_date }}</td>
          </tr>
          <tr>
            <td>Earth date</td>
            <td>{{ cardItem.earth_date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
