<div class="card">
  <div class="active"></div>
  <div class="card-body">
    <img
      src="http://mars.jpl.nasa.gov/msl-raw-images/proj/msl/redops/ods/surface/sol/00002/opgs/edr/ncam/NLA_397671934EDR_F0010008AUT_04096M_.JPG"
      alt="img-space"
      class="space-img"
    />
    <div class="content">
      <table class="mytable">
        <tbody>
          <tr>
            <td>Rover Name</td>
            <td>Curiosity</td>
          </tr>
          <tr>
            <td>Camera</td>
            <td>Navigation Camera (NAVCAM)</td>
          </tr>
          <tr>
            <td>Launch Date</td>
            <td>2011-11-26</td>
          </tr>
          <tr>
            <td>Landing date</td>
            <td>2012-08-06</td>
          </tr>
          <tr>
            <td>Earth date</td>
            <td>2012-08-08</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
